{% extends 'adminlte/index.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static "css/style.css" %}">
{% block content %}
<div class="box" style="padding: 10px">
   <div style="margin-left: 3%">
      <h3><b>Создание Options</b></h3>
   </div>
   <div class="row">
      <div class="col-sm-5">
         <div class="card">
            <div class="card-body">
               <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="box-body" style="margin-left: 5%">
                     <div class="form-group">
                        <label for="title">Название Options</label>
                        {{ form.name }}
                     </div>
                     <div class="form-group">
                        <label for="title">Значение Options</label>
                        <span style="margin-left: 1%">{{ form.value }}</span>
                     </div>
                     {% if form.errors %}
                     <!-- Error messaging -->
                     <div id="errors">
                        <div class="inner">
                           <p>There were some errors in the information you entered. Please correct the following:</p>
                           {{ form.non_field_errors }}
                           <ul>
                              {% for field in form %}
                              {% if field.errors %}
                              <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                              {% endif %}
                              {% endfor %}
                           </ul>
                        </div>
                     </div>
                     <!-- /Error messaging -->
                     {% endif %}
                  </div>
                  <button style="margin-left: 7%" type="submit" class="btn btn-primary">Создать</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<div>
{% if all_options %}
   <h2>Список всех Options</h2>
{% endif %}
   {% for i in all_options %}
   <p>
   <h4><a href="{% url 'pushes:options_update' i.id %}">{{ i.name }}</a></h4>
   </p>
   {% endfor %}
</div>
<!-- /.box -->
{% endblock %}
{% block body_tail %}
{% endblock %}